@tailwind base;
@tailwind components;
@tailwind utilities;

.tosscoin{
    margin: 2rem;
    height: 15rem;
    width: 15rem;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.tosscoin div{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    backface-visibility: hidden;
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.521));
}
.tosscoin :first-of-type{
    background-image: url('assets/heads.png');
}
.tosscoin :last-of-type{
    background-image: url('assets/tails.png');
    transform: rotateY(-180deg);
}